main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em auto;
}

#chessBoardLabel-v {
    float: left;
    margin: 3em 0em;
    font-size: 1.2em;
    font-weight: bold;
}

#inner-container {
    display: flex;
    flex-direction: column;
}

#chessBoardLabel-h {
    display: flex;
    margin: 0em .5em;
    font-size: 1.2em;
    font-weight: bold;
}

#chessBoard {
    height: 25em;
    width: 25em;
    display: flex;
    flex-wrap: wrap;
    border: .5em solid #962c1c;
    border-radius: .35em;
}

.label {
    width: 50px;
    height: 50px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.block {
    height: 50px;
    width: 50px;
}

.block:hover::after{
    content: "♦";
    display: block;
    color: goldenrod;
    padding: 0px 15px;
    font-weight: bold;
    font-size: 2.5em;
    cursor: pointer;
}